{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock title %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    {% if user.profile.is_student %}
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <div class="hstack gap-3 d-flex justify-content-between">
                                        Grades
                                    </div>
                                </h3>

                                <br />
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Student Information</h6>

                                <div class="row">
                                    <div class="col">
                                        Student ID:
                                    </div>
                                    <div class="col">
                                        {{ user.id }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Full Name:
                                    </div>
                                    <div class="col">
                                        {{ user.profile.first_name }} {{ user.profile.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                {% if user.profile.is_student %}
                                    Currently Enrolled Courses
                                {% endif %}

                                {% if user.profile.is_professor %}
                                    Courses
                                {% endif %}
                            </h6>
                            <br />

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Code</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Codename</th>
                                        <th scope="col">Block Section</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>
                                                {% if user.profile.is_professor %}
                                                    <a href="{% url 'grade:grade-professor-course' course_id=course.id %}" class="link-opacity-100">{{ course.code }}</a>
                                                {% endif %}

                                                {% if user.profile.is_student %}
                                                    <a href="{% url 'grade:grade-student-course' course_id=course.id %}" class="link-opacity-100">{{ course.code }}</a>
                                                {% endif %}
                                            </td>
                                            <th scope="row">{{ course.department }}</th>
                                            <td>{{ course.title|truncatechars:30 }}</td>
                                            <td>{{ course.codename }}</td>
                                            <td>{{ course.block }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if user.profile.is_student %}
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Total Enrolled Courses</h6>
                                <br />

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">SUBJECT</th>
                                            <th scope="col">GRADES</th>
                                            <th scope="col">UNITS</th>
                                            <th scope="col">SUBJECT DESCRIPTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">2MATHWORLD</th>
                                            <td>1.5</td>
                                            <td>3</td>
                                            <td>Mathematics in the Modern World</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4FYE1</th>
                                            <td>1.00</td>
                                            <td>3</td>
                                            <td>BIG HISTORY 1</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7TPE1</th>
                                            <td>1.00</td>
                                            <td>2</td>
                                            <td>PHYSICAL ACTIVITIES</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}