{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock title %} 

{% block extra_css %}
    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #7e40f6;
        
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(
            to right,
            rgba(126, 64, 246, 1),
            rgba(80, 139, 252, 1)
            );
        
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(
            to right,
            rgba(126, 64, 246, 1),
            rgba(80, 139, 252, 1)
            );
        }
        
        .mask-custom {
            background: rgba(24, 24, 16, 0.2);
            border-radius: 2em;
            backdrop-filter: blur(25px);
            border: 2px solid rgba(255, 255, 255, 0.05);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        }
    </style>
{% endblock extra_css %}

{% block content %}
<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <h6 class="mb-3">Todo List</h6>
  
              <form class="d-flex justify-content-center align-items-center mb-4" method="post" action="{% url 'todo:todo' %}">
                {% csrf_token %}

                <div class="w-100 mb-1">
                    <div class="input-group mb-3">
                        {{ form.title }}
                        <button class="btn btn-primary" type="submit"
                            id="button-addon2">Add</button>
                    </div>
                </div>
              </form>
  
              <ul class="list-group mb-0">
                {% for todo in todos %}
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                        <div class="d-flex align-items-center">
                            <input class="todo-toggle-checkbox form-check-input me-2" type="checkbox" data-id="{{ todo.id }}" aria-label="..." {% if todo.is_completed %} checked {% endif %} />
                            {% if not todo.is_complete %}
                                {{ todo.title }}
                            {% else %}
                                <s>{{ todo.title }}</s>
                            {% endif %}
                        </div>
                        <a href="{% url 'todo:todo-delete' todo_id=todo.id %}" title="Delete Todo">
                            <i class="fas fa-times text-primary"></i>
                        </a>
                    </li>
                {% endfor %}
              </ul>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('.todo-toggle-checkbox').on('change', function() {
            var isChecked = $(this).is(':checked');
            var todoItem = $(this).closest('li'); 
            var todoId = $(this).data('id');

            console.log('Todo Item:', todoItem);
            console.log('Todo ID:', todoId, 'Checked:', isChecked);

            $.ajax({
                url: `/todo/${todoId}/toggle/`,
                method: 'POST',
                data: {
                    'todo_id': todoId,
                    'is_completed': isChecked,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    location.reload();
                },
                error: function() {
                    alert('Error updating todo status.');
                }
            });
        });
    });
</script>
{% endblock extra_js %}