{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    Create an Announcement
                                </div>
                            </h3>

                            <br />
                            
                                <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Topic Title:</label>
                                <input type="text" class="form-control" id="Title" placeholder="Title..." required>
                                </div>
                                <div class="form-floating">
                                <textarea class="form-control" placeholder="Content" id="Content" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Content</label>
                                </div>
                            <div>
                                <button type="button" class="btn btn-primary" style="float: right; margin-top: 5px;"><i class="bi bi-arrow-bar-right"></i> Publish</button>
                                <button type="button" class="btn btn-secondary" style="float: right;margin-right: 15px; margin-top: 5px;"><i class="bi bi-arrow-bar-left"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}