{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    {{ course.title }} Update an Announcement
                                </div>
                            </h3>

                            <br />

                            {% if form_success %}
                                <div class="alert alert-success alert-dismissible show fade">
                                    <span class="fs-6"><i class="bi bi-check-circle"></i> Success updating announcement!<span>
                                    <a href="{% url 'announcement:announcement-list' %}">Go back?</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

                            <form action="{% url 'announcement:announcement-update' announcement_id=announcement.id %}" method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                                    {{ form.title }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.short_description.id_for_label }}" class="form-label">Short Desc</label>
                                    {{ form.short_description }}
                                    <div class="invalid-feedback">
                                        {% for error in form.short_description.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form.content }}
                                    <div id="editor"></div>
                                    <div class="invalid-feedback">
                                        {% for error in form.content.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static './js/debounce.js' %}"></script>
<script src="{% static './js/QuillDeltaToHtmlConverter.bundle.js' %}"></script>

<script>
    let content_textarea = $("#id_content");
    let toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'size': ['small', false, 'large', 'huge'] }],
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        [{ 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    ];

    const quill_config = {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
    };

    const quill = new Quill('#editor', quill_config);

    function quill_on_text_change(delta, oldDelta, source) {
        contents = quill.getContents()

        ops_json = JSON.stringify(contents)
        content_textarea.val(ops_json)
    }

    const debouncedTextChange = debounce(quill_on_text_change, 700);

    quill.on('text-change', (delta, oldDelta, source) => {
        debouncedTextChange(delta, oldDelta, source);
    });

</script>
{% endblock extra_js %}