{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    {{ inbox.subject }}
                                </div>
                            </h3>

                            <br />

                            {% if starred_success %}
                                <div class="alert alert-success alert-dismissible show fade">
                                    <span class="fs-6"><i class="bi bi-check-circle"></i> Inbox starred!<span>
                                    <a href="{% url 'inbox:inbox' %}">Go back?</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

                            {% if archived_success %}
                                <div class="alert alert-success alert-dismissible show fade">
                                    <span class="fs-6"><i class="bi bi-check-circle"></i> Inbox Archived!<span>
                                    <a href="{% url 'inbox:inbox' %}">Go back?</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

                            <ul class="list-group">
                                <li href="#" class="position-relative list-group-item list-group-item-action p-3 d-flex flex-column" aria-current="true">
                                    <div class="d-flex flex-row align-items-center position-relative w-100">
                                        <div class="user-menu d-flex align-items-center">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="avatar avatar-lg bg-success">
                                                    <span class="avatar-content">
                                                        {{ inbox.sender.profile.first_name|make_list|first }}{{ inbox.sender.profile.last_name|make_list|first }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="user-name text-start ms-3">
                                                <h6 class="mb-0 text-gray-600">
                                                    {{ inbox.sender.profile.first_name }} {{ inbox.sender.profile.last_name }}
                                                </h6>
                                                <p class="mb-0 text-sm text-gray-600">
                                                    {% if sender_group == "professor" %}
                                                        professor
                                                    {% elif sender_group == "student" %}
                                                        student
                                                    {% endif %}
                                                </p>
                                                <p class="mb-0 text-sm text-gray-600">
                                                    {{ inbox.created_at }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dropdown position-absolute end-0 me-2">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'inbox:inbox-toggle-archived' inbox_id=inbox.id %}">
                                                        {% if inbox.is_archived %}
                                                            Remove Archive
                                                        {% else %}
                                                            Set as Archive
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'inbox:inbox-toggle-starred' inbox_id=inbox.id %}">
                                                        {% if inbox.is_starred %}
                                                            Remove Starred
                                                        {% else %}
                                                            Set as Starred
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                <li><a class="dropdown-item" href="{% url 'inbox:inbox-trashed' inbox_id=inbox.id %}">Trash</a></li>
                                            </ul>
                                        </div>  
                                    </div>

                                    <br />

                                    <div class="mt-5">
                                        <p id="about-content"></p>
                                        <span data-content="{{ inbox.content }}"></span>
                                    </div>
                                </li>
                            </ul>

                            <br />

                            <a href="{% url 'inbox:inbox' %}" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static './js/QuillDeltaToHtmlConverter.bundle.js' %}"></script>


<script>
    $(function() {
        const about_content = $("#about-content")
        const span_element = $("[data-content]")
        const content = span_element.attr("data-content")
        const json_content = JSON.parse(content)

        const delta_html_config = {
            customCssClasses: (op) => {
                let classes = [];
    
                if (op.attributes && op.attributes.bold) {
                    classes.push('fw-semibold');
                }
    
                if (op.attributes && op.attributes.italic) {
                classes.push('fst-italic');
                }
    
                if (op.attributes && op.attributes.underline) {
                    classes.push('my-underline-class');
                }
    
                if (op.attributes && op.attributes.strike) {
                    classes.push('my-strike-class');
                }
    
                if (op.attributes && op.attributes.header) {
                classes.push(`fs-${op.attributes.header}`);
                }
    
                if (op.attributes && op.attributes.size) {
                    switch (op.attributes.size) {
                        case 'small':
                            classes.push('my-small-class');
                            break;
                        case 'large':
                            classes.push('my-large-class');
                            break;
                        case 'huge':
                            classes.push('my-huge-class');
                            break;
                    }
                }
    
                if (op.attributes && op.attributes.list) {
                    classes.push(`list-group-item`);
                }
    
    
    
                return classes.join(' ');
            }
        }

        const converter = new QuillDeltaToHtmlConverter(json_content.ops, delta_html_config);
        let html = converter.convert()

        html = html.replace(/<li>/g, '<li class="my-list-item-class">');

        html = html.replace(/<ul>(.+?)<\/ul>/g, '<ul class="list-group-flush">$1</ul>');

        span_element.remove()
        about_content.html(html)
    })
</script>
{% endblock extra_js %}